{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
        href="{% static 'style.css' %}">
     <link rel="stylesheet" type="text/css"
        href="{% static 'bootstrap.css' %}">
    <title>{{ treasure.name }}</title>
</head>
<body>
    <h1>Treasure Hunt List</h1>
        <div class="fh5co-blog animate-box fadeInUp animated-fast" >
    <h1>Treasure Item</h1>
    <p>{{ treasure.name }} </p>
        {% if treasure.value > 0 %}
    <p>{{ treasure.value }}</p>
        {% else %}
            <p>Unknown</p>
        {% endif %}
     <p>{{ treasure.location }}</p>
        </div>
</body>
</html>