{%  extends 'base.html' %}

{% block content %}
    <h1>Treasure Hunt List</h1>
    {% for treasure in treasures %}
        <section>
        <a href="{% url 'detail' treasure.slug %}">More Detail</a>
        <div class="fh5co-blog animate-box fadeInUp animated-fast" >
    <h1>Treasure Item</h1>
    <p>{{ treasure.name }}</p>
        {% if treasure.value > 0 %}
    <p>{{ treasure.value }}</p>
        {% else %}
            <p>Unknown</p>
        {% endif %}
     <p>{{ treasure.location }}</p>
        </div>
        </section>
    {% endfor %}
{% endblock %}